body {
    background-color: #F7F8FA;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 50;
    font-family: 'lato', sans-serif;
    text-align: center;
    color: #FF6B6B;
  }

  .center-image {
    display: block;
    margin: 0 auto;
    max-width: 100px; 
  }
  
  
  form {
    background-color: #FFFFFF;
    font-family: 'lato', sans-serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  h2 {
    color: #FF6B6B;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #2F3542;
    font-weight: bold;
  }
  
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'lato', sans-serif;
  }
  
  input[type="submit"] {
    background-color: #FF6B6B;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
  }
  
  .transparent-input {
    background: transparent;
    color: #000000; 
  }
  
  input[type="submit"]:hover {
    background-color: #E63946;
  }
  
  
  footer {
    text-align: center;
    margin-top: 20px;
    color: #888888;
  }
  